/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
/* 
.fl-content-slider .fl-slide{
	visibility: visible !important;
} */
.ui-datepicker-title select{
    color: #000!important;
}
 .fl-accordion-item a{
  		border: none!important;
  		outline: none!important;
  }
.fl-slide-5 .fl-slide-content-wrap{
	width: 100% !important;
}
.fl-slide-4 .fl-slide-photo-wrap {
    width: auto !important;
}
#field_3_2, #field_11_2, #field_5_2{
    padding-right: 0px!important;
}

.container.fl-content-full {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}
.fl-content{
    margin: 0px 0!important;
}
div.homeSlider .fl-slide-0 h1.fl-slide-title{
	font-size: 50px;
} 
div.homeSlider .fl-slide-0 h1.fl-slide-title ~ div > p{
	font-size: 20px;
}
div.homeSlider .fl-slide-2 .fl-slide-photo-wrap {
    width: 100%;
}
div.homeSlider .fl-slide-0 .fl-slide-bg-link {
	    background: rgba(0,0,0,0.3);
} 

.fl-post .fl-post-image-beside{
    margin-right: 0px;
}
article .fl-post-header{
    margin-left: -15px!important;
    margin-right: -15px!important;
}
.product-swatch-inner .button-wrapper-default a{
    background: #814249;
    color: aliceblue;
}
.product-swatch-inner .button-wrapper-default a:last-child{
    display: none;
}



@media(max-width:1024px){
    .fl-page-nav .navbar-nav li>a{
        padding: 15px 8px;
        font-size: 11.1px; 
    }
    .fl-page-nav-right.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a, .fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a{
        padding: 15px 8px;
    }
}

@media(max-width:992px){
    .fl-page-nav-search{
        display: block
    }
}

@media (max-width:768px){
    .facet_filters{ position: static; width: auto; box-shadow: none;}
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: none;}
    .facetwp-per-page, .facetwp-pager{ text-align: right !important;}
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: left !important;}
    .product-box .responsive-button-wrapper-default a:last-child{
        display: none;
    }
    .product-box .responsive-button-wrapper-default a{
        background: #814249;
        color: aliceblue;
    }
    .top-bar-nav .nav-link{
        padding: 2px 10px!important;
    }
 }
 @media (max-width:767px){
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: block;}
    .facetwp-per-page, .facetwp-pager{ float: none;}
    .facetwp-per-page, .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: center !important;}

    .fl-col-small{
        max-width: 600px;
    }
    .fl-page-bar-nav li:last-child{
        display: none;  
    }

    .fl-module-callout .fl-callout-title{
        font-size: 24px!important;
    }
    button#responsive-menu-button{
        top: 92px!important;
    }

    .fl-menu-mobile-toggle{
        color: #814249!important;
    }
    
 }

 @media(max-width:600px;){
    .fl-page-bar .navbar-nav{
        padding: 0px!important;
    }
   
 }
a.fl-button:hover, .fl-builder-content a.fl-button:hover{
	color: #383838 !important;
	background: #ffffff !important;
}
a.fl-button:hover, .fl-builder-content a.fl-button:hover .fl-button-text{

	color: #383838 !important;
}
a.fl-button:hover, .fl-builder-content a.fl-button:hover span{
	color:#383838 !important;
}
.uabb-gf-style .gform_wrapper .gform_footer input[type=submit]:hover{
	border:1px solid #814249 !important;
}
/*New pdp css */
.container .row .product-detail-layout-6 #product-images-holder>div{
    background-size: cover!important;
}
@media(max-width: 1024px){
.product-detail-layout-6 .toggle-image-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
}
@media(max-width: 768px){
.product-detail-layout-6 .imagesHolder #roomvo {
    width: 100%!important;
    padding-bottom: 0;
    left: 0px!important;
    padding: 0px!imporant;
    margin: 0px!imporant;
}
}
@media (max-width: 500px){
.product-detail-layout-6 .image-expander {
    right: 25px!important;
}
}
.product-detail-layout-6  .toggle-image-thumbnails{
    width: 100%;
}
.product-detail-layout-6 .slide.selected-slide:after {
    height: 30%!important;
    width: 30%!important;
    background-size: contain;
top: 30%!important;
    left: 35%;
}


/*New PDP Button Color css */
.product-detail-layout-6 .dual-button a {
    background-color: #814249!important;
    color: #fff!important;
    border-style: solid;
    border-width: 1px;
    border-color: #814249!important;
}

.product-detail-layout-6 .dual-button a:hover {
    color: #814249!important;
    background-color: transparent!important;
    border-style: solid;
    border-width: 1px;
    border-color: #814249!important;
}

.product-detail-layout-6 .button-wrapper>a {
    color: #fff!important;
    background-color: #814249!important;
    border-style: solid;
    border-width: 1px;
    border-color: #814249!important;
}

.product-detail-layout-6 .button-wrapper>a:hover {
    background-color: transparent!important;
    color: #814249!important;
    border-style: solid;
    border-width: 1px;
    border-color: #814249!important;
}
.homeSlider .fl-slide-0 .fl-slide-foreground .fl-slide-photo-wrap {
    width: 100%;
}
.fl-slide.fl-slide-0.fl-slide-text-center .fl-slide-photo-wrap {
    width: 100%;
}
.flooring-coupon-img img {
    width: 100%;
}

.flooring-coupon-img .fl-rich-text> p {
    display: none;
}